{% extends 'base.html' %}

{% block title %} - {{tag.name}} {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="card w-75">
        <div class="card-body">
            <div class="card-header h3 text-center">
                {{tag.name}}
            </div>
            <ul class="list-group list-group-flush">
                {% for post in posts %}
                <li class="list-group-item">
                    <a href="{{url_for('post_detail_view', post_id=post.id)}}">{{post.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="row justify-content-around mt-3">
                <div class="col-4">
                    <a href="{{tags_url}}" class="btn btn-outline-primary">Cancel</a>
                </div>
                <div class="col-4">
                    <a href="{{edit_url}}" class="btn btn-primary btn-block">Edit</a>
                </div>
                <div class="col-4">
                    <form action="{{delete_url}}" method="POST">
                        <button class="btn btn-danger btn-block">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="{{url_for('home_view')}}">Home</a>
</div>
{% endblock %}