{% extends 'base.html' %}

{% block title %} - {{User}} {% endblock %}

{% block content %}
<!-- <h1>{{user.first_name}} {{user.last_name}}</h1> -->
<div class="row justify-content-center">
    <div class="card w-50">
        {% if user.image_url %}
            <img class="card-img-top" src="{{user.image_url}}"
                alt="Profile picture of {{user.first_name}} {{user.last_name}}">
        {% else %}
            <h1 class="text-center">
                <i class="fas fa-question"></i>
            </h1>
        {% endif %}
        <div class="card-body">
            <h2 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h2>
            <div class="row justify-content-around">
                <div class="col-6">
                    <a href="{{edit_url}}" class="btn btn-primary btn-block">Edit</a>
                </div>
                <div class="col-6">
                    <form action="{{delete_url}}" method="POST">
                        <button class="btn btn-danger btn-block">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}